.property-details{
    margin: auto;
    padding: 5px;
}
.property-details h1{
    font-size:23px;
    text-align: center;
    color: var(--head-letter-color);
    font-family: var(--Font-famliy-one);
    border-radius: 15px;
}
.card-item{
    padding: 7px;
    background-color: var(--bg-white);
    border: 3px solid #FFBB00;
    border-radius: 10px 10px 0 0;
}
.img-wrapper img{
    width: 100%;
    height: 250px;
}
.card-item h2 {
  font-size: 20px;
  text-align: left; 
  width: 100%;  
  font-family: var(--Font-famliy-one);
  font-weight: 350;
  margin: 0;
   margin-top: 5px; 
}
.card-item h3 {
  font-family: var(--Font-famliy-one);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  width: 100%;      
  color: var(--bg-black);    
}
.card-item h3 span{
    color: red;
    font-size: 25px;
}
.card-item h4 {
  font-size: 13px;
   margin:0; 
   margin-top: 5px;
  text-align: left; 
  width: 100%;  
  font-family: var(--Font-famliy-two);
  font-weight: 400;
  margin-bottom: 10px;
}
.card-item h5 {
  font-size: 20px;
  text-align: left; 
  width: 100%;  
  font-family: var(--Font-famliy-one);
  font-weight: 350;
  margin: 0;
   margin-top: 5px; 
}
.card-item h6{
    margin-top: 10px;
    font-size: 12px;
    font-family: var(--Font-famliy-two);
    font-weight: 300;
    margin-bottom: 5px;
}
.icon-info{
    font-size: 15px;
    margin-right: 5px;
}
.bed-bath{
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0;
}
.icon-bed-bath{
    margin-top: 0px;
    font-size: 15px;
    font-weight: 200;
    margin-right:5px;
    color: var(--bg-black);
    
}
.bed h1{
    font-family: var(--Font-famliy-two);
    font-weight: 400;
    font-size:15px;
    color: var(--bg-black);
}
.bath h1{
    font-family: var(--Font-famliy-two);
    font-weight: 400;
    font-size:15px;
    color: var(--bg-black);
}
.bed-bath-box{
    background-color: rgb(206, 202, 202);
    padding: 0 5px 0 5px;
    border-radius: 5px;
}
.more-info h1{
    font-size: 20px;
    font-family: var(--Font-famliy-one);
    text-align: left;
    font-weight: 400;
}
.live-map {
    display: flex;
    padding: 0;
    margin: auto;
    width: 98%;
    height: 400px;
    border: 3px solid #FFBB00;

}
.agent-box{
    width: 96%;
    display: flex;
    border-radius: 10px;
    border: 3px solid #FFBB00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: #FFFAEF;
}
.agent-box-cover{
    width: 60px;
    height: 60px;
    padding: 10px;
    
    
}
.agent-box-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #FFBB00;
    
}
.agent-box h1{
    font-size: 15px;
    color: var(--bg-black);
    font-family: var(--Font-famliy-one);
}
.agent-box span{
    font-size: 10px;
    color: var(--Font-color-general-2);
    font-family: var(--Font-famliy-two);
}
.agent-box h2{
    font-size: 15px;
    border: 3px solid #FFBB00;
    border-radius: 10px;
    padding: 10px;
    color: var(--bg-black);
    font-family: var(--Font-famliy-two);
}
.agent-box a{
    text-decoration: none;
}
.property-agent h1{
    font-size: 27px;
    font-family: var(--Font-famliy-one);
    text-align: left;
    font-weight: 400;
}
.cards-contanier1 {
  display: flex;         
  flex-wrap: wrap;       
  gap: 20px;
}

.card-item1 {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px ;

}

.img-wrapper1 {
  display: flex;          
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;          
  overflow: hidden;      
  border-radius: 5px;
}

.img-wrapper1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
}


.card-item1 h2 {
  font-size: 20px;
  text-align: left; 
  width: 100%;  
  font-family: var(--Font-famliy-one);
  font-weight: 400;
  margin: 0;
   margin-top: 15px; 
}
.card-item1 h3 {
  font-size: 13px;
   margin:0; 
   margin-top: 5px;
  text-align: left; 
  width: 100%;  
  font-family: var(--Font-famliy-two);
  font-weight: 400;
}

.card-item1 h4 {
  font-family: var(--Font-famliy-one);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
  text-align: left;
  width: 100%;      
  color: var(--bg-black);    
}
.card-item1 h4 span{
    color: red;
    font-size: 25px;
}
.bed-bath1{
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0;
}
.icon-bed-bath1{
    margin-top: 0px;
    font-size: 15px;
    margin-right:5px;
    color: var(--bg-black);
}
.bed1 h1{
    font-family: var(--Font-famliy-two);
    font-weight: 400;
    font-size:15px;
    color: var(--bg-black);
}
.bath1 h1{
    font-family: var(--Font-famliy-two);
    font-weight: 400;
    font-size:15px;
    color: var(--bg-black);
}
.view-detail1{
    width: 100%;
    border-radius: 10px;
    border: 2px solid gray;
}
.view-detail1 h1{
    font-family: var(--Font-famliy-one);
    color: var(--bg);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.view-detail1 a{
    text-decoration: none;
}