@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bg: red;
    --text: black;
    --title-color: #FFBB00;
    --font-familyone: "Oswald", sans-serif;
    --font-familytwo: "Roboto", sans-serif;
    --button-text: #ACACAC;

}

.about-text{
  max-width: 100%;
  
}
.about-text h1{
    font-size: 23px;
    text-align: center;
    color: var(--title-color);
    font-family: var(--font-familyone);
    margin-bottom: 5px;
}
.about-text h3{
    font-size: 18px;
    font-family: var(--font-familyone);
    margin: 25px;
    margin-bottom:0;
}
.about-text span{
    font-size: 14px;
    margin: 25px;
    font-family: var(--font-familytwo);
}
.img{
    /* display: flex; */
    justify-content: center;
}
.img img{
    width: 100%;

}
.ourvision{
    /* background-color: var(--bg); */
    padding: 5px;
}
.ourtext{
    background-color: var(--button-text);
    width: 73px;
    height: 25px;
    border-radius: 15px;
    margin-left: 13px;
}
.ourtext h5{
    font-size: 10px;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0;
    padding-top: 5px;
    font-family: var(--font-familyone);
}
.ourvision1{
    width: 100%;
}
.ourvisioin-text{
    width: 100%;
}
.ourvision-text p{
    font-size: 12px;
    font-family: var(--font-familytwo);
    margin-left: 17px;
    /* background-color: var(--bg); */
    font-weight: 5px;
}
.customerrate{
    width: 98%;
    /* background-color: gray; */
     border: 2px solid #ACACAC;
    border-radius: 15px;
}
.customer-text{
    width: 90%;
    /* background-color: var(--bg); */
    margin: auto;
    display: flex;
    gap: 30px;
}
.customer-text h2 {
    font-size: 20px;
    font-family: var(--font-familyone);
    margin-left: 10px;
    margin-bottom: 0px;
}
.customer-note {   
    /* background-color:gray; */
}
.note1 {
    /* background-color: var(--bg); */
    display: flex;
}
.note1 p {
    font-size: 8px;
    margin: auto;
    gap: 50px;
    padding: 5px;
    font-family: var(--font-familytwo);
}
.ouroffice{
    /* background-color: lightblue; */
}
.office-text h1{
    font-size: 23px;
    text-align: center;
    font-family: var(--font-familyone);
}
.imgoffice{
    justify-content: center;
    /* height: 180px; */
    box-sizing: border-box;
}
.imgoffice img{
    width: 100%;
    border-radius: 15px;
}

.office1{
   margin-left: 15px;
   margin-bottom: 5px;
   margin: 0;
}
.office1 h5{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: var(--font-familyone);
}
.office1 p{
    font-size: 12px;
    font-family: var(--font-familytwo);
}
.ouragent{
    /* background-color: red; */
    margin: auto;
}
.ouragent-text{
    /* background-color: lightblue; */
    margin: auto;
}
.ouragent-text h1{
    font-size: 20px;
    font-family: var(--font-familyone);
    display: flex;
    justify-content: center;
    text-align: center;
}
.showagent a{
    width: 100%;
    /* background-color: var(--bg); */
    display: flex;
    text-decoration: none;
    gap: 17px;
}
.image-agent{
    width: 30%;
    /* background-color: gray; */
}
.image-agent img{
    width: 100%;
    border-radius: 15px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.agent-text{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.agent-text h6{
    font-size: 15px;
    font-family: var(--font-familyone);
    margin: 5px;
    display: flex;
}
.agent-text p{
    font-size: 9px;
    font-family: var(--font-familytwo);
    margin: 5px;
    display: flex;
}
.agent-text i{
    display: block;
    margin-left: auto;    
}
.icon1{
    font-size: 15px;
    margin-top: 5px;
}
.icon2{
    font-size: 15px;
}
.moreagetn{
    width: 100%;
    background-color: #2b2828;
}
.more-text a{
    width: 25%;
    /* background-color: red; */
    margin: auto;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 15px;
}
.more-text a{
    font-size: 15px;
    font-family: var(--font-familyone);
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-one);
  border-bottom: 1px solid var(--line);
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.nav__brand {
  font-weight: 800;
  letter-spacing: 0.2px;
}

button {
  background: transparent;
  border: 1px solid var(--line);
  border-radius: var(--radius);
  padding: 10px 15px;
  color: var(--text);
}

.nav__button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
}

.nav__sidebar-item {
  color: var(--text);
}

.nav__list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 8px 16px;
  background: var(--surface);
}

.nav__sidebar__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;                                                                            
  z-index: 999;
  background-color: var(--bg-one);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;  
}


.nav__sidebar {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;                                                                                                                                                                                                                                  
}

.nav__item {
  padding: 10px 0;
}
.nav__item a{
    text-decoration: none;
}
.nav__item:last-child {
  border-bottom: none;
}

.nav__link {
  display: flex;
  align-items: center;
  color: black;
}

.menu__button {
  display: none;
}

.nav__link:hover {
  color: var(--accent);
}

.nav--open .nav__list {
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .hideOnMobile{
    display: none;
  }
  .menu__button {
    display: block;
  }
  .nav__button__container {
    display: none;
  }
  .hero__searchbar .icon {
    z-index: 1;
  }
  
}
@media (max-width: 500px) {
  .nav__sidebar__container {
    width: 100%;
  }
  .hero__title {
  font-size: 1.8rem;
  }
  .hero__subtitle {
  font-size: 1rem;
  }
  
}