.num {
  display: flex;
  align-items: center;
  gap: 8px;
  background:rgba(215, 205, 205, 0.856);
  padding: 15px 20px;
  border-radius: 11px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-o-1 {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color:black;
}

.page-ban {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(193, 185, 185);
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-size: 11px;
  transition: 0.2s;
}

.page-ban:hover {
  background:rgb(233, 221, 221);
}

.page-ban.active {
  background:gold; 
  color: black;
  font-weight: bold;
}
