.nav {
  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-one);
  border-bottom: 1px solid var(--line);
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.nav__brand {
  font-weight: 800;
  letter-spacing: 0.2px;
}

button {
  background: transparent;
  border: 1px solid var(--line);
  border-radius: var(--radius);
  padding: 10px 15px;
  color: var(--text);
}

.nav__button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
}

.nav__sidebar-item {
  color: var(--text);
}

.nav__list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 8px 16px;
  background: var(--surface);
}

.nav__sidebar__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;                                                                            
  z-index: 999;
  background-color: var(--bg-one);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;  
}


.nav__sidebar {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;                                                                                                                                                                                                                                  
}

.nav__item {
  padding: 10px 0;
}
.nav__item a{
    text-decoration: none;
}
.nav__item:last-child {
  border-bottom: none;
}

.nav__link {
  display: flex;
  align-items: center;
  color: black;
}

.menu__button {
  display: none;
}

.nav__link:hover {
  color: var(--accent);
}

.nav--open .nav__list {
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .hideOnMobile{
    display: none;
  }
  .menu__button {
    display: block;
  }
  .nav__button__container {
    display: none;
  }
  .hero__searchbar .icon {
    z-index: 1;
  }
  
}
@media (max-width: 500px) {
  .nav__sidebar__container {
    width: 100%;
  }
  .hero__title {
  font-size: 1.8rem;
  }
  .hero__subtitle {
  font-size: 1rem;
  }
  
}
:root {
  
  --bg: #f6f2ee;

  --surface: #ffffff;

  --text: #1d1b16;

  --muted: #7a736b;

  --accent: #ffbb00;

  --accent-600: #9f7c41;

  --line: #e9e2db;

  --badge: #efe7de;

  --radius: 14px;

  --shadow: 0 6px 20px rgba(0, 0, 0, 0.03);

  --maxw: 100%;

  --font-family-one: "Oswald", sans-serif;

  --font-family-two: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var("Oswald", sans-serif);
}

body {
  background:white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 600px;
  font-family:"Oswald", sans-serif ;}

.title {
  text-align: center;
  color: gold;
  font-size: 34px;
  margin-bottom: 20px;
  font-family:"Oswald", sans-serif ;
}

.label {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  font-family:"Oswald", sans-serif ;
}

.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid gold;
  border-radius: 30px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.bin {
  display: flex; 
  align-items: center; 
  gap: 10px;

}


.kam {
  padding: 8px 15px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: khaki;
  font-family:"Oswald", sans-serif ;
}


.subtitle {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.agent-card {
  border: 2px solid gold;
  border-radius: 10px;
  padding: 10px;
  text-align: center;   
  background: var(--bg);
}

.agent-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  background-color:gold;
}

.agent-card h3 {
  font-size: 13px;
  margin-top: 8px;
  font-weight: bold;
  font-family:"Oswald", sans-serif ;
 
}

.agent-card p {
  font-size: 14px;
  margin-top: 4px;
  font-family: var( "Roboto", sans-serif);
 
}

.location {
  font-size: 13px;
  color: var(--muted);
 
}

.profile-btn {
  margin-top: 10px;
  padding: 5px 5px;
  background:var(--accent);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color:var(--text);
  font-weight: bold;
  
 
}
.num {
  display: flex;
  gap:4px;
  background:rgba(215, 205, 205, 0.856);
  padding: 5px 5px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.box-o-1 {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color:black;
}

.page-ban {
  width: 29px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(193, 185, 185);
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-size: 11px;
  transition:2px;
}

.page-ban:hover {
  background:rgb(204, 194, 194);
}

.page-ban.active {
  background:gold; 
  color: black;
  font-weight: bold;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-one);
  border-bottom: 1px solid var(--line);
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.nav__brand {
  font-weight: 800;
  letter-spacing: 0.2px;
}

button {
  background: transparent;
  border: 1px solid var(--line);
  border-radius: var(--radius);
  padding: 10px 15px;
  color: var(--text);
}

.nav__button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
}

.nav__sidebar-item {
  color: var(--text);
}

.nav__list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 8px 16px;
  background: var(--surface);
}

.nav__sidebar__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;                                                                            
  z-index: 999;
  background-color: var(--bg-one);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;  
}


.nav__sidebar {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;                                                                                                                                                                                                                                  
}

.nav__item {
  padding: 10px 0;
}
.nav__item a{
    text-decoration: none;
}
.nav__item:last-child {
  border-bottom: none;
}

.nav__link {
  display: flex;
  align-items: center;
  color: black;
}

.menu__button {
  display: none;
}

.nav__link:hover {
  color: var(--accent);
}

.nav--open .nav__list {
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .hideOnMobile{
    display: none;
  }
  .menu__button {
    display: block;
  }
  .nav__button__container {
    display: none;
  }
  .hero__searchbar .icon {
    z-index: 1;
  }
  
}
@media (max-width: 500px) {
  .nav__sidebar__container {
    width: 100%;
  }
  .hero__title {
  font-size: 1.8rem;
  }
  .hero__subtitle {
  font-size: 1rem;
  }
  
}