@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');


:root {
    --bar: #ff0000;
    --Font-famliy-one:"Oswald", sans-serif;font-weight: 200;font-style: normal;
    --Font-famliy-two:font-family: "Roboto", sans-serif;font-weight: 400;
    --Font-color-general-2:#959090;
    --head-letter-color:#FFBB00;
    --bg:grey;
    --box-bg:blue;
    --bg-white:white;



}   
body{
    background-color: var(--bar);
    margin: 0;
}